*{
  box-sizing:border-box
}
body{
  font-family: Verdana, sans-serif;
}
header{
  background-color: DodgerBlue;
  font-family: 'Fjalla One', sans-serif;
  font-size: 20px;
  text-align: center;
  color: white;
  padding: 1px;
}
section{
  display: -webkit-flex;
  display: flex;
}
aside{
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
  float: left;
  height: 1500px;
  text-align: left;
  background-color: turquoise;
  color: white;
}
article{
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  height 1000px;
  padding: 10px;
  background-color: khaki;
  color: maroon;
  margin: 2px;
}
.exp-header{
  background-color: grey;
  font-family: Georgia, serif;
  text-align: center;
  border: 2px double black;
}
footer{
  background-color: DodgerBlue;
  padding: 10px;
  text-align: center;
  color: white;
}
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
